/* Images created by: https://unsplash.com/@pawel_czerwinski */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #c9ced3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Anton', sans-serif;
  font-size: 12px;
}

.player-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 500px;
  width: 400px;
  background-color: #d9dbdd;
  border-radius: 20px;
  box-shadow: 5px 10px 30px 5px rgba(0, 0, 0, 0.4);
}

.player-container audio {
  align-self: center;
}

.img-container {
  align-self: center;
  position: relative;
  height: 300px;
  width: 300px;
  top: -50px;
  /* left: 50px; */
}

.img-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 5px 5px 30px 5px rgba(0, 0, 0, 0.4);
}

h2 {
  font-size: 25px;
  text-align: center;
  margin: 0;
}

h3 {
  font-size: 20px;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  margin: 5px 0 0;
}

/* Progress */
.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 40px 20px;
  height: 4px;
  width: 90%;
  align-content: center;
}

.progress {
  background: #242323;
  border-radius: 5px;
  height: 100%;
  /* change this to show progress */
  width: 0%;
  transition: width 0.1s linear;
}

.duration-wrapper {
  position: relative;
  top: -25px;
  display: flex;
  justify-content: space-between;
}

/* Controls */
.player-controls {
  position: relative;
  align-items: center;
  text-align: center;
}

.fas {
  font-size: 25px;
  color: #242323;
  margin: 0px 15px;
  cursor: pointer;
  user-select: none;
  transition: 0.1s ease-in-out;
}

.fas:hover {
  transform: scale(1.1);
  filter: brightness(300%);
}

.fa-play {
  font-size: 30px;
}

.fa-pause {
  font-size: 30px;
}

.main-button {
  font-size: 40px;
  position: relative;
  top: 3px;
}

/* Media Query: iPhone (Vertical) */
@media screen and (max-width: 400px) {
  .player-container {
    width: 95vw;
  }

  .img-container {
    /* left: 29px; */
    display: flex;
    align-items: center;
    width: 70vw;
    height: 70vw;
    max-width: 250px;
    max-height: 250px;
    margin-top: -50px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 15px;
  }
}


